.photo-box {
    background: #d31c6b;
    position: relative;
}

.photo-box__item {
    cursor: pointer;
    position: relative;
}

.photo-box:hover .photo-box__item{
    top: -2px;
    left: -2px;
}


.product-info__cost {
    display: inline-block;
    background-color: #d31c6b;
    color: white;
    padding: 8px;
    justify-content: right;
}

.product-category {

    background-color: tomato;
    color: white;
    display: inline-block;
    padding: 4px;
    border-radius: 5%;
}

#numSold {
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    color: white;
    border-radius: 5%;
}

.order {
    order: -1;
}

.box-coment {
    clip-path: polygon(100% 0%, 100% 100%, 4% 100%, 4% 44%, 0 29%, 4% 17%, 4% 0);
    background-color: white;
}

.box-form, .comment {
    padding-left: 4%;
}

.textarea {
    resize: none;
}

.box-star {
    background-color: #d31c6b;
}

.box-star i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

